# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
yarn.lock
package-lock.json
bun.lockb

# testing
coverage

# build
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# node
**/node_modules

# bun
bunfig.toml

# generated
**/__generated__

# hidden files
**/.*
!**/.env.example
!**/.gitignore
!**/.gitkeep
!**/.storybook
!/.editorconfig
!/.github
!/.gitleaks.toml
!/.npmrc
!/.nvmrc
!/.vscode

# typescript
tsconfig.tsbuildinfo
